@import "./variables.scss";

/* PC端样式 */
/* 在视口宽度大于等于 1024px 时生效 */
@media (min-width: 1366px) {
  /* PC端的样式 */
  /* 例如设置页面宽度、字体大小等 */
}

/* 平板端样式 */
/* 在视口宽度小于 1366px 且大于等于 768px 时生效 */
@media (max-width: 1365px) and (min-width: 768px) {
  /* 平板端的样式 */
  /* 例如调整页面布局、字体大小等 */
}

/* 移动端样式 */
/* 在视口宽度小于 768px 时生效 */
@media (max-width: 767px) {
  /* 移动端的样式 */
  /* 例如调整页面布局、字体大小等 */
}
html,
body {
  width: 100%;
  height: 100%;
  box-sizing: border-box; /* 指定盒模型为 IE模型(怪异模式)更方便后面设置页面 */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family:
    Helvetica Neue,
    Helvetica,
    PingFang SC,
    Hiragino Sans GB,
    Microsoft YaHei,
    Arial,
    sans-serif;
}

label {
  font-weight: 700;
}

#app {
  height: 100%;
}

/* 指定after和before伪元素 box-sizing 属性的值为inherit，应该从父元素继承，依旧为IE模型 */
*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

/* 业务样式 */
.grid-stack {
  background: #00000000;
}

.grid-stack-item-content {
  color: #2c3e50;
  text-align: center;
}

.grid-stack-item-removing {
  opacity: 0.5;
}

.common-bg {
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(20px);
  color: #fff;
}
