//全局scss变量

$sideBarWidth: 50px;
$greyColor: #f5f5f5;
$appMainPadding: 10px;

$img-bg: 2, 172, 195;
$img-text: 34, 34, 34;
$sidebar-opacity: 0.5;

$timeSize: 70px;
$timeFontWeight: 400;


$red-200: #fecaca;
$red-300: #fca5a5;
$red-400: #f87171;
$red-500: #ef4444;
$red-600: #dc2626;
$red-700: #b91c1c;